openapi: 3.0.3
info:
  title: X Clone API
  description: |-
    Unified API documentation for the X Clone application, covering Posts, User Interactions, User Profiles, Notifications, and more.
    This API follows the JSend specification for newer endpoints, with a custom `metadata` field for additional response information.
  version: 1.1.0

servers:
  - url: https://api.xclone.com/v1
    description: Production server
  - url: http://localhost:3000/v1
    description: Development server

tags:
  - name: User Profile
    description: Endpoints for managing user profiles, including images and banners.
  - name: Users
    description: Endpoints related to following, blocking, and muting users.
  - name: Notifications
    description: Endpoints for retrieving user notifications.
  - name: Posts
    description: Operations related to creating, retrieving, and deleting posts (including replies and quotes).
  - name: Post Interactions
    description: Endpoints for liking, reposting, and summarizing posts.
  - name: Hashtags & Trends
    description: Endpoints for searching posts, hashtags, and retrieving trending topics.
  - name: Messages
    description: Endpoints for managing direct messages.
  - name: Conversations
    description: Endpoints related to user conversations.

paths:
  /users/search:
    get:
      tags:
        - User Profile
      summary: Search for users
      description: Searches for users by their username or display name with a partial match.
      parameters:
        - name: q
          in: query
          description: The search query string.
          required: true
          schema:
            type: string
        - name: page
          in: query
          description: The page number for pagination.
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          description: The number of results to return per page.
          schema:
            type: integer
            default: 20
      responses:
        '200':
          description: A successful response with a list of users.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/UserProfile'
                      metadata:
                        $ref: '#/components/schemas/PaginationMetadata'
              example:
                status: success
                data:
                  - userId: 1
                    username: "gamal_dev"
                    profile:
                      displayName: "Gamal Developer"
                      profileImageURL: "https://example.com/image.jpg"
                      bio: "Backend Developer"
                metadata:
                  page: 1
                  limit: 20
                  totalItems: 1
                  totalPages: 1

  /users/{userId}/profile:
    get:
      tags:
        - User Profile
      summary: Get user profile details
      description: Retrieves the detailed profile information for a specific user.
      security:
        - bearerAuth: []
      parameters:
        - name: userId
          in: path
          required: true
          description: The unique integer identifier of the user.
          schema:
            type: integer
      responses:
        '200':
          description: Successful retrieval of a user's profile.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/UserProfile'
        '404':
          description: User not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FailResponse'
              example:
                status: fail
                data:
                  message: "User profile not found."

    patch:
      tags:
        - User Profile
      summary: Update user profile
      description: Updates text-based details for the authenticated user's profile.
      security:
        - bearerAuth: []
      parameters:
        - name: userId
          in: path
          required: true
          description: The unique identifier of the user to update. Must be the authenticated user.
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                displayName:
                  type: string
                bio:
                  type: string
                location:
                  type: string
                website:
                  type: string
            example:
              displayName: "Gamal El-Din"
              bio: "Senior Backend Engineer"
              location: "Cairo, Egypt"
              website: "https://gamal.dev"
      responses:
        '200':
          description: Profile updated successfully.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/UserProfile'
        '403':
          description: Forbidden. User cannot update another user's profile.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FailResponse'

  /users/{userId}/profile/image:
    post:
      tags:
        - User Profile
      summary: Update profile picture
      description: Uploads a new profile picture for the authenticated user.
      security:
        - bearerAuth: []
      parameters:
        - name: userId
          in: path
          required: true
          description: The unique identifier of the user.
          schema:
            type: integer
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                image:
                  type: string
                  format: binary
      responses:
        '200':
          description: Profile image updated successfully.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          profileImageURL:
                            type: string
                            format: uri
              example:
                status: success
                data:
                  profileImageURL: "https://cdn.example.com/new-profile.jpg"

    delete:
      tags:
        - User Profile
      summary: Delete profile picture
      description: Deletes the current profile picture and restores the default.
      security:
        - bearerAuth: []
      parameters:
        - name: userId
          in: path
          required: true
          description: The unique identifier of the user.
          schema:
            type: integer
      responses:
        '200':
          description: Profile image deleted successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
              example:
                status: success
                data: null

  /users/{userId}/profile/banner:
    post:
      tags:
        - User Profile
      summary: Update profile banner
      description: Uploads a new profile banner for the authenticated user.
      security:
        - bearerAuth: []
      parameters:
        - name: userId
          in: path
          required: true
          description: The unique identifier of the user.
          schema:
            type: integer
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                banner:
                  type: string
                  format: binary
      responses:
        '200':
          description: Profile banner updated successfully.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          bannerImageURL:
                            type: string
                            format: uri
              example:
                status: success
                data:
                  bannerImageURL: "https://cdn.example.com/new-banner.jpg"

    delete:
      tags:
        - User Profile
      summary: Delete profile banner
      description: Deletes the current profile banner and restores the default.
      security:
        - bearerAuth: []
      parameters:
        - name: userId
          in: path
          required: true
          description: The unique identifier of the user.
          schema:
            type: integer
      responses:
        '200':
          description: Profile banner deleted successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
              example:
                status: success
                data: null

  /users/{userId}/notifications:
    get:
      tags:
        - Notifications
      summary: Get user notifications
      description: Retrieves a list of notifications for the authenticated user.
      security:
        - bearerAuth: []
      parameters:
        - name: userId
          in: path
          required: true
          description: The ID of the user requesting notifications.
          schema:
            type: integer
        - name: limit
          in: query
          description: The number of notifications to return.
          schema:
            type: integer
            default: 30
      responses:
        '200':
          description: A list of notifications.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/Notification'
                      metadata:
                        $ref: '#/components/schemas/PaginationMetadata'
              example:
                status: success
                data:
                  - notificationId: 101
                    type: "like"
                    isRead: false
                    createdAt: "2025-10-26T10:00:00Z"
                    actor:
                      userId: 2
                      username: "some_user"
                      profile:
                        displayName: "Some User"
                        profileImageURL: "..."
                metadata:
                  limit: 30
                  totalItems: 1

  /users/{userId}/notifications/unseen-count:
    get:
      tags:
        - Notifications
      summary: Get unseen notifications count
      description: Retrieves the count of notifications the user has not read yet.
      security:
        - bearerAuth: []
      parameters:
        - name: userId
          in: path
          required: true
          description: The ID of the user.
          schema:
            type: integer
      responses:
        '200':
          description: The count of unseen notifications.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          count:
                            type: integer
              example:
                status: success
                data:
                  count: 15
  
  /users/{id}/follow:
    post:
      tags: [Users]
      summary: Follow a user
      description: Follow a user by their ID.
      security:
        - bearerAuth: []
      parameters:
        - name: Authorization
          in: header
          required: true
          description: Bearer access token.
          schema:
            type: string
            example: Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6...
        - name: id
          in: path
          required: true
          description: ID of the user to follow
          schema:
            type: string
      responses:
        200:
          description: Successfully followed the user
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string, example: success }
                  data:
                    type: object
                    properties:
                      followingId: { type: string, example: "12345" }
                      followerId: { type: string, example: "67890" }
                      followedAt: { type: string, format: date-time }
        400:
          description: Invalid request
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string, example: fail }
                  message: { type: string, example: Cannot follow yourself }

    delete:
      tags: [Users]
      summary: Unfollow a user
      description: Unfollow a user by their ID.
      security:
        - bearerAuth: []
      parameters:
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
            example: Bearer eyJhbGciOi...
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Successfully unfollowed user
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string, example: success }
                  data:
                    type: object
                    properties:
                      unfollowedId: { type: string, example: "12345" }
        400:
          description: Invalid request
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string, example: fail }
                  message: { type: string, example: User was not being followed }

  /users/{id}/followers:
    get:
      tags: [Users]
      summary: Get followers list
      security:
        - bearerAuth: []
      parameters:
        - name: Authorization
          in: header
          required: true
          schema: { type: string }
        - name: id
          in: path
          required: true
          schema: { type: string }
        - name: limit
          in: query
          schema: { type: integer, example: 10 }
        - name: page
          in: query
          schema: { type: integer, example: 1 }
      responses:
        200:
          description: List of followers
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string, example: success }
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        userId: { type: string }
                        username: { type: string }
                        displayName: { type: string }
                        profileImageURL: { type: string }
                        bio: { type: string }
                        followedAt: { type: string, format: date-time }
                  metadata:
                    $ref: '#/components/schemas/PaginationMetadata'
        400:
          description: Invalid user ID
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string, example: fail }
                  message: { type: string, example: User not found }

  /users/{id}/following:
    get:
      tags: [Users]
      summary: Get following list
      security:
        - bearerAuth: []
      parameters:
        - name: Authorization
          in: header
          required: true
          schema: { type: string }
        - name: id
          in: path
          required: true
          schema: { type: string }
        - name: limit
          in: query
          schema: { type: integer, example: 10 }
        - name: page
          in: query
          schema: { type: integer, example: 1 }
      responses:
        200:
          description: List of users the given user is following
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string, example: success }
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        userId: { type: string }
                        username: { type: string }
                        displayName: { type: string }
                        profileImageURL: { type: string }
                        bio: { type: string }
                        followedAt: { type: string, format: date-time }
                  metadata:
                    $ref: '#/components/schemas/PaginationMetadata'
        400:
          description: Invalid user ID
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string, example: fail }
                  message: { type: string, example: User not found }

  /users/{id}/block:
    post:
      tags: [Users]
      summary: Block a user
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        200:
          description: Successfully blocked the user
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string, example: success }
                  data:
                    type: object
                    properties:
                      blockedId: { type: string, example: "12345" }
                      blockedAt: { type: string, format: date-time }
        400:
          description: Cannot block yourself
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string, example: fail }
                  message: { type: string, example: Cannot block yourself }

    delete:
      tags: [Users]
      summary: Unblock a user
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        200:
          description: Successfully unblocked user
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string, example: success }
                  data:
                    type: object
                    properties:
                      unblockedId: { type: string, example: "12345" }
        400:
          description: User not blocked
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string, example: fail }
                  message: { type: string, example: User was not blocked }

  /users/blocks:
    get:
      tags: [Users]
      summary: Get list of blocked users
      security:
        - bearerAuth: []
      parameters:
        - name: Authorization
          in: header
          required: true
          schema: { type: string }
        - name: limit
          in: query
          schema: { type: integer, example: 10 }
        - name: page
          in: query
          schema: { type: integer, example: 1 }
      responses:
        200:
          description: List of blocked users
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string, example: success }
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        userId: { type: string }
                        username: { type: string }
                        displayName: { type: string }
                        profileImageURL: { type: string }
                        bio: { type: string }
                        blockedAt: { type: string, format: date-time }
                  metadata:
                    $ref: '#/components/schemas/PaginationMetadata'
        400:
          description: Request error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string, example: fail }
                  message: { type: string, example: Could not fetch blocked users }

  /users/{id}/mute:
    post:
      tags: [Users]
      summary: Mute a user
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        200:
          description: User muted successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string, example: success }
                  data:
                    type: object
                    properties:
                      mutedId: { type: string, example: "98765" }
                      mutedAt: { type: string, format: date-time }
        400:
          description: Cannot mute yourself
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string, example: fail }
                  message: { type: string, example: Cannot mute yourself }

    delete:
      tags: [Users]
      summary: Unmute a user
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        200:
          description: Successfully unmuted
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string, example: success }
                  data:
                    type: object
                    properties:
                      unmutedId: { type: string, example: "98765" }
        400:
          description: User not muted
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string, example: fail }
                  message: { type: string, example: User was not muted }

  /users/muted:
    get:
      tags: [Users]
      summary: Get list of muted users
      security:
        - bearerAuth: []
      parameters:
        - name: Authorization
          in: header
          required: true
          schema: { type: string }
        - name: limit
          in: query
          schema: { type: integer, example: 10 }
        - name: page
          in: query
          schema: { type: integer, example: 1 }
      responses:
        200:
          description: Muted users list
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string, example: success }
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        userId: { type: string }
                        username: { type: string }
                        profileImageURL: { type: string }
                        bio: { type: string }
                        mutedAt: { type: string, format: date-time }
                  metadata:
                    $ref: '#/components/schemas/PaginationMetadata'
        400:
          description: Request error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string, example: fail }
                  message: { type: string, example: Could not fetch muted users }

  /posts:
    post:
      tags:
        - Posts
      summary: Create a new post, reply, or quote with optional media
      description: Allows a user to create a new original post, reply to an existing post, or quote an existing post, optionally including media files.
      requestBody: # THIS SECTION IS UPDATED FOR MULTIPART AND INTEGER IDs
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - userId
                - content
                - type
                - visibility
              properties:
                userId:
                  type: integer
                  format: int64
                  description: The ID of the user creating the post.
                  example: 1
                content:
                  type: string
                  description: The main text content of the post.
                  minLength: 1
                  maxLength: 280
                  example: "this is super duper post content"
                type:
                  type: string
                  enum: [ "POST", "REPLY", "QUOTE" ]
                  description: The type of post (e.g., original post, reply, quote).
                  example: "POST"
                parentId:
                  type: integer
                  format: int64
                  nullable: true
                  description: The ID of the parent post if this is a reply or quote. Required if type is REPLY or QUOTE.
                  example: null
                visibility:
                  type: string
                  enum: [ "EVERY_ONE", "FOLLOWERS", "MENTIONED" ]
                  description: Who can see the post.
                  example: "EVERY_ONE"
                mediaFiles: # Property for files
                  type: array
                  items:
                    type: string
                    format: binary # Indicates a file upload
                  description: One or more media files (images, videos) to attach to the post.
                  minItems: 0
                  maxItems: 4 # Common limit for social media posts (e.g., 4 images)
      responses:
        '200':
          description: Post (or reply/quote) created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: "200"
                  data:
                    allOf: # Combines the Post schema with media info in response
                      - $ref: '#/components/schemas/Post'
                      - type: object
                        properties:
                          media:
                            type: array
                            items:
                              $ref: '#/components/schemas/Media'
                            description: Details of the media files uploaded with the post.
        '400':
          description: Invalid request payload (e.g., reply missing parentId, invalid type, unsupported media format)
        '401':
          description: Unauthorized - User not authenticated
        '500':
          description: Internal server error
    get:
      tags:
        - Posts
      summary: Get all posts
      description: Retrieve a list of posts, with optional filtering by user ID, hashtag, and pagination.
      parameters:
        - in: query
          name: userId
          schema:
            type: integer
            format: int64
          description: Filter posts by the ID of the user who created them.
          example: 123
        - in: query
          name: hashtag
          schema:
            type: string
          description: Filter posts by a specific hashtag (e.g., swagger).
          example: 'swagger'
        - in: query
          name: limit
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
          description: The maximum number of posts to return.
        - in: query
          name: offset
          schema:
            type: integer
            minimum: 0
            default: 0
          description: The number of posts to skip before starting to return results.
      responses:
        '200':
          description: A list of posts.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedPostsResponse' # Changed to use paginated response
        '401':
          description: Unauthorized - User not authenticated
        '500':
          description: Internal server error

  /posts/search: # UPDATED ENDPOINT PATH
    get:
      tags:
        - Posts
      summary: Search posts matching a string
      description: Searches posts for content, usernames, or other metadata matching the provided string.
      parameters:
        - in: query
          name: q
          schema:
            type: string
          required: true
          description: The search string to match against post content, usernames, etc.
          example: 'api design'
        - in: query
          name: limit
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
          description: The maximum number of posts to return.
        - in: query
          name: offset
          schema:
            type: integer
            minimum: 0
            default: 0
          description: The number of posts to skip before starting to return results.
      responses:
        '200':
          description: A list of posts matching the search query.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedPostsResponse'
        '400':
          description: Missing search query parameter 'q'
        '401':
          description: Unauthorized - User not authenticated
        '500':
          description: Internal server error

  /posts/timeline/home:
    get:
      tags:
        - Posts
      summary: Get posts for home feed (timeline)
      description: Retrieve a list of posts for the authenticated user's home timeline, typically from users they follow and suggested content.
      parameters:
        - in: query
          name: limit
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
          description: The maximum number of posts to return.
        - in: query
          name: offset
          schema:
            type: integer
            minimum: 0
            default: 0
          description: The number of posts to skip before starting to return results.
      responses:
        '200':
          description: A list of posts for the home timeline.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedPostsResponse'
        '401':
          description: Unauthorized - User not authenticated
        '500':
          description: Internal server error

  /posts/profile/{userId}:
    get:
      tags:
        - Posts
      summary: Get posts for a user's profile
      description: Retrieve a list of posts created by a specific user, excluding replies or reposts by default.
      parameters:
        - in: path
          name: userId
          schema:
            type: integer
            format: int64
          required: true
          description: The ID of the user whose profile posts to retrieve.
          example: 123
        - in: query
          name: include_replies
          schema:
            type: boolean
            default: false
          description: If true, include replies made by the user in the results.
        - in: query
          name: limit
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
          description: The maximum number of posts to return.
        - in: query
          name: offset
          schema:
            type: integer
            minimum: 0
            default: 0
          description: The number of posts to skip before starting to return results.
      responses:
        '200':
          description: A list of profile posts.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedPostsResponse'
        '404':
          description: User not found
        '401':
          description: Unauthorized - User not authenticated
        '500':
          description: Internal server error

  /posts/mentions:
    get:
      tags:
        - Posts
      summary: Get posts mentioning the authenticated user
      description: Retrieve a list of posts that mention the authenticated user's username.
      parameters:
        - in: query
          name: limit
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
          description: The maximum number of posts to return.
        - in: query
          name: offset
          schema:
            type: integer
            minimum: 0
            default: 0
          description: The number of posts to skip before starting to return results.
      responses:
        '200':
          description: A list of posts mentioning the user.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedPostsResponse'
        '401':
          description: Unauthorized - User not authenticated
        '500':
          description: Internal server error

  /posts/liked/{userId}:
    get:
      tags:
        - Posts
      summary: Get posts liked by a user
      description: Retrieve a list of posts that the specified user has liked.
      parameters:
        - in: path
          name: userId
          schema:
            type: integer
            format: int64
          required: true
          description: The ID of the user whose liked posts to retrieve.
          example: 123
        - in: query
          name: limit
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
          description: The maximum number of posts to return.
        - in: query
          name: offset
          schema:
            type: integer
            minimum: 0
            default: 0
          description: The number of posts to skip before starting to return results.
      responses:
        '200':
          description: A list of posts liked by the user.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedPostsResponse'
        '404':
          description: User not found
        '401':
          description: Unauthorized - User not authenticated
        '500':
          description: Internal server error

  /hashtags/trends: # UPDATED ENDPOINT PATH
    get:
      tags:
        - Hashtags & Trends
      summary: Get available global trends (hashtags)
      description: Retrieves a list of current global trending topics and their associated volume.
      parameters:
        - in: query
          name: limit
          schema:
            type: integer
            minimum: 1
            maximum: 50
            default: 10
          description: The maximum number of trends to return.
      responses:
        '200':
          description: A list of current trends.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: "200"
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Trend'
        '500':
          description: Internal server error

  /hashtags/{hashtag}/posts: # UPDATED ENDPOINT PATH
    get:
      tags:
        - Hashtags & Trends
      summary: Get posts within a specific trend/hashtag
      description: Retrieves posts associated with a specific hashtag.
      parameters:
        - in: path
          name: hashtag
          schema:
            type: string
          required: true
          description: The hashtag (trend name) to retrieve posts for (e.g., #AI). Note: The '#' symbol is usually omitted in the path parameter and added internally.
          example: 'OpenAPI'
        - in: query
          name: limit
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
          description: The maximum number of posts to return.
        - in: query
          name: offset
          schema:
            type: integer
            minimum: 0
            default: 0
          description: The number of posts to skip before starting to return results.
      responses:
        '200':
          description: A list of posts associated with the trend.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedPostsResponse'
        '404':
          description: Trend not found
        '500':
          description: Internal server error

  /hashtags/search: # UPDATED ENDPOINT PATH (Using query style for search)
    get:
      tags:
        - Hashtags & Trends
      summary: Search for hashtags
      description: Search for trending or common hashtags that match a query string.
      parameters:
        - in: query
          name: q
          schema:
            type: string
          required: true
          description: The search string to match against hashtags.
          example: 'dev'
        - in: query
          name: limit
          schema:
            type: integer
            minimum: 1
            maximum: 50
            default: 10
          description: The maximum number of hashtags to return.
      responses:
        '200':
          description: A list of matching hashtags.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: "200"
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Hashtag'
        '400':
          description: Missing search query parameter 'q'
        '500':
          description: Internal server error

  /posts/{postId}:
    parameters:
      - in: path
        name: postId
        schema:
          type: integer
          format: int64
        required: true
        description: The unique identifier of the post.
        example: 123
    get:
      tags:
        - Posts
      summary: Get a post by ID
      description: Retrieve details for a single post using its unique ID.
      responses:
        '200':
          description: Post details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostResponse'
        '404':
          description: Post not found
        '401':
          description: Unauthorized - User not authenticated
        '500':
          description: Internal server error
    delete:
      tags:
        - Posts
      summary: Delete a post by ID
      description: Deletes a specific post. User must be the owner of the post.
      responses:
        '204':
          description: Post deleted successfully (No Content)
        '401':
          description: Unauthorized - User not authenticated
        '403':
          description: Forbidden - User does not own the post
        '404':
          description: Post not found
        '500':
          description: Internal server error

  /posts/{postId}/replies:
    get:
      tags:
        - Posts
      summary: Get replies to a specific post
      description: Retrieve a list of posts that are replies to the specified parent post.
      parameters:
        - in: path
          name: postId
          schema:
            type: integer
            format: int64
          required: true
          description: The ID of the parent post for which to retrieve replies.
          example: 123
        - in: query
          name: limit
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
          description: The maximum number of replies to return.
        - in: query
          name: offset
          schema:
            type: integer
            minimum: 0
            default: 0
          description: The number of replies to skip before starting to return results.
      responses:
        '200':
          description: A list of reply posts.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedPostsResponse' # Changed to use paginated response
        '404':
          description: Parent post not found
        '401':
          description: Unauthorized - User not authenticated
        '500':
          description: Internal server error

  /posts/{postId}/likes:
    post:
      tags:
        - Post Interactions
      summary: Toggle like on a post
      description: Toggles a like for the specified post by the authenticated user. If liked, it unlikes; if unliked, it likes.
      parameters:
        - in: path
          name: postId
          schema:
            type: integer
            format: int64
          required: true
          description: The unique identifier of the post to like/unlike.
          example: 123
      responses:
        '200':
          description: Post like status toggled successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: "200"
                  message:
                    type: string
                    example: "Post liked"
        '401':
          description: Unauthorized - User not authenticated
        '404':
          description: Post not found
        '500':
          description: Internal server error
    get:
      tags:
        - Post Interactions
      summary: Get list of users who liked a post
      description: Retrieves a list of user IDs who have liked the specified post.
      parameters:
        - in: path
          name: postId
          schema:
            type: integer
            format: int64
          required: true
          description: The ID of the post to get likers for.
          example: 123
        - in: query
          name: limit
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
          description: The maximum number of likers to return.
        - in: query
          name: offset
          schema:
            type: integer
            minimum: 0
            default: 0
          description: The number of likers to skip before starting to return results.
      responses:
        '200':
          description: A list of user IDs who liked the post.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: "200"
                  data:
                    type: array
                    items:
                      type: integer
                      format: int64
                      description: The ID of a user who liked the post.
                  metadata:
                    $ref: '#/components/schemas/PaginationMetadata'
                example:
                  status: "200"
                  data: [1, 2, 3] # Example user IDs
                  metadata:
                    total: 3
                    page: 1
                    per_page: 20
                    totalPages: 1
        '404':
          description: Post not found
        '401':
          description: Unauthorized - User not authenticated
        '500':
          description: Internal server error

  /posts/{postId}/reposts:
    post:
      tags:
        - Post Interactions
      summary: Toggle repost on a post
      description: Toggles a repost entry for the specified post by the authenticated user. If already reposted, it removes the repost; otherwise, it creates one.
      parameters:
        - in: path
          name: postId
          schema:
            type: integer
            format: int64
          required: true
          description: The ID of the post to repost/un-repost.
          example: 123
      responses:
        '200':
          description: Post repost status toggled successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: "200"
                  message:
                    type: string
                    example: "Post reposted"
        '401':
          description: Unauthorized - User not authenticated
        '404':
          description: Post not found
        '500':
          description: Internal server error
    get:
      tags:
        - Post Interactions
      summary: Get list of users who reposted a post
      description: Retrieves a list of user IDs who have reposted the specified post.
      parameters:
        - in: path
          name: postId
          schema:
            type: integer
            format: int64
          required: true
          description: The ID of the post to get reposters for.
          example: 123
        - in: query
          name: limit
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
          description: The maximum number of reposters to return.
        - in: query
          name: offset
          schema:
            type: integer
            minimum: 0
            default: 0
          description: The number of reposters to skip before starting to return results.
      responses:
        '200':
          description: A list of user IDs who reposted the post.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: "200"
                  data:
                    type: array
                    items:
                      type: integer
                      format: int64
                      description: The ID of a user who reposted the post.
                  metadata:
                    $ref: '#/components/schemas/PaginationMetadata'
                example:
                  status: "200"
                  data: [4, 5, 6] # Example user IDs
                  metadata:
                    total: 3
                    page: 1
                    per_page: 20
                    totalPages: 1
        '404':
          description: Post not found
        '401':
          description: Unauthorized - User not authenticated
        '500':
          description: Internal server error
  /posts/{postId}/summary:
    get:
      tags:
        - Post Interactions
      summary: Get AI summary of a post
      description: Retrieves an AI-generated concise summary of the specified post's content.
      parameters:
        - in: path
          name: postId
          schema:
            type: integer
            format: int64
          required: true
          description: The unique identifier of the post to summarize.
          example: 123
      responses:
        '200':
          description: Successfully retrieved post summary.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: "200"
                  data:
                    type: object
                    properties:
                      postId:
                        type: integer
                        format: int64
                        description: The ID of the summarized post.
                      summary:
                        type: string
                        description: The AI-generated summary of the post content.
                        example: "User discussed a super duper post content, focusing on its visibility to everyone."
        '404':
          description: Post not found
        '401':
          description: Unauthorized - User not authenticated (if summary is not public)
        '500':
          description: Internal server error

  /messages/{conversationId}:
    get:
      tags: [Messages]
      summary: Get messages from a conversation
      security:
        - bearerAuth: []
      parameters:
        - name: Authorization
          in: header
          required: true
          schema: { type: string }
        - name: conversationId
          in: path
          required: true
          schema: { type: string }
        - name: limit
          in: query
          schema: { type: integer, example: 20 }
        - name: page
          in: query
          schema: { type: integer, example: 1 }
      responses:
        200:
          description: List of messages
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string, example: success }
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        messageId: { type: string }
                        senderId: { type: string }
                        text: { type: string }
                        sentAt: { type: string, format: date-time }
                  metadata:
                    $ref: '#/components/schemas/PaginationMetadata'
        400:
          description: Invalid conversation ID
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string, example: fail }
                  message: { type: string, example: Conversation not found }

    post:
      tags: [Messages]
      summary: Send a new message
      security:
        - bearerAuth: []
      parameters:
        - name: Authorization
          in: header
          required: true
          schema: { type: string }
        - name: conversationId
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                text: { type: string, example: "Hey, how’s it going?" }
      responses:
        201:
          description: Message sent successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string, example: success }
                  data:
                    type: object
                    properties:
                      messageId: { type: string }
                      senderId: { type: string }
                      text: { type: string }
                      sentAt: { type: string, format: date-time }
        400:
          description: Failed to send message
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string, example: fail }
                  message: { type: string, example: Message could not be sent }
  /conversations:
    get:
      tags: [Conversations]
      summary: Get list of conversations
      security:
        - bearerAuth: []
      parameters:
        - name: Authorization
          in: header
          required: true
          schema: { type: string }
        - name: limit
          in: query
          schema: { type: integer, example: 10 }
        - name: page
          in: query
          schema: { type: integer, example: 1 }
      responses:
        200:
          description: List of conversations
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string, example: success }
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        conversationId: { type: string }
                        user:
                          type: object
                          properties:
                            id: { type: string }
                            username: { type: string }
                            displayName: { type: string }
                            profileImageURL: { type: string }
                        lastMessage: { type: string }
                        updatedAt: { type: string, format: date-time }
                  metadata:
                    $ref: '#/components/schemas/PaginationMetadata'
        400:
          description: Failed to fetch conversations
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string, example: fail }
                  message: { type: string, example: Could not retrieve conversations }

  /conversations/unseen:
    get:
      tags: [Conversations]
      summary: Get number of unseen conversations
      security:
        - bearerAuth: []
      parameters:
        - name: Authorization
          in: header
          required: true
          schema: { type: string }
      responses:
        200:
          description: Number of unseen conversations
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string, example: success }
                  data:
                    type: object
                    properties:
                      unseenCount: { type: integer, example: 3 }
        400:
          description: Request error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string, example: fail }
                  message: { type: string, example: Could not fetch unseen count }

components:
  schemas:
    # JSend Base Schemas
    SuccessResponse:
      type: object
      required:
        - status
        - data
      properties:
        status:
          type: string
          enum: [success]
        data:
          nullable: true
          description: "Response payload. Can be an object, array, or null."
    FailResponse:
      type: object
      required:
        - status
        - data
      properties:
        status:
          type: string
          enum: [fail]
        data:
          type: object
    ErrorResponse:
      type: object
      required:
        - status
        - message
      properties:
        status:
          type: string
          enum: [error]
        message:
          type: string
        code:
          type: integer
        data:
          type: object

    # Data Models
    UserProfile:
      type: object
      properties:
        userId:
          type: integer
        username:
          type: string
        profile:
          type: object
          properties:
            displayName:
              type: string
            profileImageURL:
              type: string
              format: uri
            bannerImageURL:
              type: string
              format: uri
            bio:
              type: string
            location:
              type: string
            website:
              type: string
              format: uri
            birthDate:
              type: string
              format: date
            createdAt:
              type: string
              format: date-time

    Notification:
      type: object
      properties:
        notificationId:
          type: integer
        type:
          type: string
          enum: [like, repost, follow, mention, reply]
        isRead:
          type: boolean
        createdAt:
          type: string
          format: date-time
        actor:
          description: The user who triggered the notification.
          $ref: '#/components/schemas/UserProfile'
        post:
          description: The post related to the notification (if applicable).
          nullable: true
          type: object
          properties:
            postId:
              type: integer
            content:
              type: string

    # Existing Schemas
    Post:
      type: object
      required:
        - id
        - userId
        - content
        - type
        - visibility
        - createdAt
        - updatedAt
      properties:
        id:
          type: integer
          format: int64
          example: 1
        userId:
          type: integer
          format: int64
          example: 1
        content:
          type: string
        type:
          type: string
          enum: [ "POST", "REPLY", "QUOTE" ]
        parentId:
          type: integer
          format: int64
          nullable: true
          example: null
        visibility:
          type: string
          enum: [ "EVERY_ONE", "FOLLOWERS", "MENTIONED" ]
        media: # Added media array directly into the Post schema
          type: array
          items:
            $ref: '#/components/schemas/Media'
          description: A list of media files associated with this post.
          minItems: 0
          example: []
        createdAt:
          type: string
          format: date-time
          example: "2023-10-27T10:00:00Z"
        updatedAt:
          type: string
          format: date-time
          example: "2023-10-27T10:00:00Z"

    PostResponse:
      type: object
      required:
        - status
        - data
      properties:
        status:
          type: string
          example: "200"
        data:
          $ref: '#/components/schemas/Post' # Use the Post schema for the data part

    Media:
      type: object
      required:
        - mediaUrl
        - type
        - createdAt
      properties:
        mediaUrl:
          type: string
          format: uri
          description: URL to the hosted media file.
          example: "https://your-cdn.com/posts/123/media/456.jpg"
        type:
          type: string
          enum: [ "IMAGE", "VIDEO", "GIF", "AUDIO" ]
          description: The type of media content.
          example: "IMAGE"
        createdAt:
          type: string
          format: date-time
          example: "2023-10-27T10:01:00Z"

    PaginationMetadata:
      type: object
      properties:
        totalItems:
          type: integer
          description: Total number of items available.
          example: 1
        page:
          type: integer
          description: The current page number.
          example: 1
        perPage:
          type: integer
          description: Number of items per page.
          example: 10
        totalPages:
          type: integer
          description: Total number of pages.
          example: 1

    PaginatedPostsResponse:
      type: object
      properties:
        status:
          type: string
          example: "200"
        data:
          type: array
          items:
            $ref: '#/components/schemas/Post'
        metadata:
          $ref: '#/components/schemas/PaginationMetadata'
      example:
        status: "200"
        data:
          - id: 1
            userId: 1
            content: "this is super duper post content"
            type: "POST"
            parentId: null
            visibility: "EVERY_ONE"
            media: []
            createdAt: "2023-10-27T10:00:00Z"
            updatedAt: "2023-10-27T10:00:00Z"
        metadata:
          totalItems: 1
          page: 1
          perPage: 10
          totalPages: 1

    Trend: # Schema for a single trend item
      type: object
      required:
        - hashtag
        - volume
      properties:
        hashtag:
          type: string
          description: The trending topic/hashtag text (without the #).
          example: "AIRevolution"
        volume:
          type: integer
          description: The number of posts associated with this trend in the last hour/day.
          example: 15400
        country:
          type: string
          nullable: true
          description: Optional country scope for the trend.
          example: "Global"
      example:
        hashtag: "OpenAPI"
        volume: 2500
        country: "Global"

    Hashtag: # Schema for a single hashtag in search results
      type: object
      required:
        - hashtag
        - postCount
      properties:
        hashtag:
          type: string
          description: The hashtag text (including the # symbol).
          example: "#TechTalk"
        postCount:
          type: integer
          description: The total number of posts associated with this hashtag.
          example: 12345
      example:
        hashtag: "#developer"
        postCount: 98765

  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT Authorization header using the Bearer scheme.

security:
  - bearerAuth: []
