name: Trigger Docker Build
on:
  push:
    branches:
      - main
      - dev
  pull_request:
    branches:
      - main
      - dev
  workflow_dispatch:

jobs:
  test-and-build:
    runs-on: self-hosted
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '20' # Adjust version as needed

      - name: Install dependencies
        run: npm install

      - name: Run tests
        run: npm test
        continue-on-error: true # Continue even if tests fail

      - name: Build project
        run: npm run build

  trigger-public-workflow:
    needs: test-and-build
    if: github.event_name != 'pull_request'
    runs-on: ubuntu-latest
    steps:
      - name: Trigger public repo workflow
        run: |
          curl -X POST \
            -H "Accept: application/vnd.github.v3+json" \
            -H "Authorization: token ${{ secrets.PAT_GITHUB }}" \
            https://api.github.com/repos/karimfaridz/runner/dispatches \
            -d '{
              "event_type": "trigger-build",
              "client_payload": {
                "owner_name": "${{ github.repository_owner }}",
                "repo_name": "${{ github.event.repository.name }}",
                "branch": "${{ github.ref_name }}"
              }
            }'
